<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm món</title>
</head>
<body>

<h2>Thêm món ăn</h2>

<form action="/add" method="post" enctype="multipart/form-data">
    Tên: <input type="text" name="name"><br><br>

    Danh mục:
    <select name="category">
        <option>Khai vị</option>
        <option>Món chính</option>
        <option>Đồ uống</option>
    </select><br><br>

    Giá: <input type="number" name="price"><br><br>

    Ảnh: <input type="file" name="image"><br><br>

    <button type="submit">Thêm</button>
</form>

<p th:text="${error}" style="color:red"></p>
<p th:text="${success}" style="color:green"></p>

</body>
</html>